@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

body {
  text-align: left;
/*   vertical-align: left; */
/*   line-height: 100vh */
  font-size: 2rem;
  font-family: 'Oswald', sans-serif;
    background-color: hsla(0, 0%, 0%, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow-y: hidden;
}

a,
.green {
  text-decoration: none;
  color: hsla(238, 100%, 44%, 0.78);
/*   hsla(238, 100%, 44%, 0.78) */
  transition: 0.4s;
  border-radius: 0px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(238, 100%, 44%, 0.3);
    border-radius: 5px
  }
}

.loginbox {
    background-color: hsla(0, 0%, 26%, 0.8);
    width: fit-content;
    padding: 45px;
    border-radius: 15px;
    color: white;
    text-align: center;
}

input {
    border: none;
    border-bottom: 1px solid white;
    /* background: transparent; */
    outline: none;
    height: 40px;
    color: rgb(0, 0, 0);
    font-size: 16px;
    border-radius: 5px;
    /* font-size: 1.5rem; */
    font-weight: bold;
}

button {
    transition: all 0.3s ease 0s;
    position: relative;
    top: 0px;
    border: none;
    border-bottom: 1px solid white;
    /* background: transparent; */
    outline: none;
    height: 40px;
    color: rgb(0, 0, 0);
    font-size: 16px;
    border-radius: 5px;
    /* font-size: 1.5rem; */
    font-weight: bold;
    margin: 10px;
    margin-top: 25px;
}

button:hover {
    /* background-color: hsla(238, 100%, 44%, 0.3); */
    top: -10px;
}